{% extends "base.html" %}

{% block head %}
<title>Login</title>
<link rel="stylesheet" href="{{ url_for('static',filename='login.css') }}">
{% endblock %}

{% block body %}
<h1>LOGIN</h1>
<form action="" method="post" autocomplete="off">
    <label for="email">Email</label>
    <input type="email" name="email" id="email" required placeholder="Enter your email">

    <label for="password">Password</label>
    <input type="password" name="password" id="password" required placeholder="Enter your password">

    <button type="submit">LOGIN</button>
    <div style="text-align:right; margin-top:0.5rem;">
        <a href="/forgot-password/send-otp" class="forgot-link">Forgot password?</a>
    </div>
</form>
{% endblock %}